.wrapper {
    height: 26px;
    width: 180px;
    line-height: 0;
    cursor: pointer;
}

.wrapper > div {
    position: relative;
    width: 180px;
    display: flex;
    height: 26px;
    border-radius: 300px;
}

.wrapper div div {
    display: inline-block;
    height: 24px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border-radius: 300px;
    transition: .2s;
}

.wrapper input {
    display: block;
    clip: rect(0px,0px,0px,0px);
    position: absolute;
    width: 1px;
    height: 1px;
}

.wrapper input:checked + div div{
    left: 50%;
}

.wrapper div span {
    z-index: 1;
    /* position: relative; */
    color: rgb(29 35 58);
    display: inline-block;
    display: flex;
    flex: 0 0 90px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: regular;
}

.wrapper div span.check {
    color: white;
    opacity: .5;
}

.wrapper input:checked + div span{
    color: white;
    opacity: .5;
}
.wrapper input:checked + div span.check{
    color: rgb(29 35 58);
    opacity: 1;
}
